/*
HyperCSS Pure Grid
*/

.grid {
  display: grid;
  grid-template-columns: repeat(60, 1fr);
}

@media screen and (max-width: 1400px) and (min-width: 800px) {
  .grid-md-1 {
    grid-column: span 1;
  }

  .grid-md-2 {
    grid-column: span 2;
  }

  .grid-md-3 {
    grid-column: span 3;
  }

  .grid-md-4 {
    grid-column: span 4;
  }

  .grid-md-5 {
    grid-column: span 5;
  }

  .grid-md-6 {
    grid-column: span 6;
  }

  .grid-md-7 {
    grid-column: span 7;
  }

  .grid-md-8 {
    grid-column: span 8;
  }

  .grid-md-9 {
    grid-column: span 9;
  }

  .grid-md-10 {
    grid-column: span 10;
  }

  .grid-md-11 {
    grid-column: span 11;
  }

  .grid-md-12 {
    grid-column: span 12;
  }

  .grid-md-13 {
    grid-column: span 13;
  }

  .grid-md-14 {
    grid-column: span 14;
  }

  .grid-md-15 {
    grid-column: span 15;
  }

  .grid-md-16 {
    grid-column: span 16;
  }

  .grid-md-17 {
    grid-column: span 17;
  }

  .grid-md-18 {
    grid-column: span 18;
  }

  .grid-md-19 {
    grid-column: span 19;
  }

  .grid-md-20 {
    grid-column: span 20;
  }

  .grid-md-21 {
    grid-column: span 21;
  }

  .grid-md-22 {
    grid-column: span 22;
  }

  .grid-md-23 {
    grid-column: span 23;
  }

  .grid-md-24 {
    grid-column: span 24;
  }

  .grid-md-25 {
    grid-column: span 25;
  }

  .grid-md-26 {
    grid-column: span 26;
  }

  .grid-md-27 {
    grid-column: span 27;
  }

  .grid-md-28 {
    grid-column: span 28;
  }

  .grid-md-29 {
    grid-column: span 29;
  }

  .grid-md-30 {
    grid-column: span 30;
  }

  .grid-md-31 {
    grid-column: span 31;
  }

  .grid-md-32 {
    grid-column: span 32;
  }

  .grid-md-33 {
    grid-column: span 33;
  }

  .grid-md-34 {
    grid-column: span 34;
  }

  .grid-md-35 {
    grid-column: span 35;
  }

  .grid-md-36 {
    grid-column: span 36;
  }

  .grid-md-37 {
    grid-column: span 37;
  }

  .grid-md-38 {
    grid-column: span 38;
  }

  .grid-md-39 {
    grid-column: span 39;
  }

  .grid-md-40 {
    grid-column: span 40;
  }

  .grid-md-41 {
    grid-column: span 41;
  }

  .grid-md-42 {
    grid-column: span 42;
  }

  .grid-md-43 {
    grid-column: span 43;
  }

  .grid-md-44 {
    grid-column: span 44;
  }

  .grid-md-45 {
    grid-column: span 45;
  }

  .grid-md-46 {
    grid-column: span 46;
  }

  .grid-md-47 {
    grid-column: span 47;
  }

  .grid-md-48 {
    grid-column: span 48;
  }

  .grid-md-49 {
    grid-column: span 49;
  }

  .grid-md-50 {
    grid-column: span 50;
  }

  .grid-md-51 {
    grid-column: span 51;
  }

  .grid-md-52 {
    grid-column: span 52;
  }

  .grid-md-53 {
    grid-column: span 53;
  }

  .grid-md-54 {
    grid-column: span 54;
  }

  .grid-md-55 {
    grid-column: span 55;
  }

  .grid-md-56 {
    grid-column: span 56;
  }

  .grid-md-57 {
    grid-column: span 57;
  }

  .grid-md-58 {
    grid-column: span 58;
  }

  .grid-md-59 {
    grid-column: span 59;
  }

  .grid-md-60 {
    grid-column: span 60;
  }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
  .grid-sm-1 {
    grid-column: span 1;
  }

  .grid-sm-2 {
    grid-column: span 2;
  }

  .grid-sm-3 {
    grid-column: span 3;
  }

  .grid-sm-4 {
    grid-column: span 4;
  }

  .grid-sm-5 {
    grid-column: span 5;
  }

  .grid-sm-6 {
    grid-column: span 6;
  }

  .grid-sm-7 {
    grid-column: span 7;
  }

  .grid-sm-8 {
    grid-column: span 8;
  }

  .grid-sm-9 {
    grid-column: span 9;
  }

  .grid-sm-10 {
    grid-column: span 10;
  }

  .grid-sm-11 {
    grid-column: span 11;
  }

  .grid-sm-12 {
    grid-column: span 12;
  }

  .grid-sm-13 {
    grid-column: span 13;
  }

  .grid-sm-14 {
    grid-column: span 14;
  }

  .grid-sm-15 {
    grid-column: span 15;
  }

  .grid-sm-16 {
    grid-column: span 16;
  }

  .grid-sm-17 {
    grid-column: span 17;
  }

  .grid-sm-18 {
    grid-column: span 18;
  }

  .grid-sm-19 {
    grid-column: span 19;
  }

  .grid-sm-20 {
    grid-column: span 20;
  }

  .grid-sm-21 {
    grid-column: span 21;
  }

  .grid-sm-22 {
    grid-column: span 22;
  }

  .grid-sm-23 {
    grid-column: span 23;
  }

  .grid-sm-24 {
    grid-column: span 24;
  }

  .grid-sm-25 {
    grid-column: span 25;
  }

  .grid-sm-26 {
    grid-column: span 26;
  }

  .grid-sm-27 {
    grid-column: span 27;
  }

  .grid-sm-28 {
    grid-column: span 28;
  }

  .grid-sm-29 {
    grid-column: span 29;
  }

  .grid-sm-30 {
    grid-column: span 30;
  }

  .grid-sm-31 {
    grid-column: span 31;
  }

  .grid-sm-32 {
    grid-column: span 32;
  }

  .grid-sm-33 {
    grid-column: span 33;
  }

  .grid-sm-34 {
    grid-column: span 34;
  }

  .grid-sm-35 {
    grid-column: span 35;
  }

  .grid-sm-36 {
    grid-column: span 36;
  }

  .grid-sm-37 {
    grid-column: span 37;
  }

  .grid-sm-38 {
    grid-column: span 38;
  }

  .grid-sm-39 {
    grid-column: span 39;
  }

  .grid-sm-40 {
    grid-column: span 40;
  }

  .grid-sm-41 {
    grid-column: span 41;
  }

  .grid-sm-42 {
    grid-column: span 42;
  }

  .grid-sm-43 {
    grid-column: span 43;
  }

  .grid-sm-44 {
    grid-column: span 44;
  }

  .grid-sm-45 {
    grid-column: span 45;
  }

  .grid-sm-46 {
    grid-column: span 46;
  }

  .grid-sm-47 {
    grid-column: span 47;
  }

  .grid-sm-48 {
    grid-column: span 48;
  }

  .grid-sm-49 {
    grid-column: span 49;
  }

  .grid-sm-50 {
    grid-column: span 50;
  }

  .grid-sm-51 {
    grid-column: span 51;
  }

  .grid-sm-52 {
    grid-column: span 52;
  }

  .grid-sm-53 {
    grid-column: span 53;
  }

  .grid-sm-54 {
    grid-column: span 54;
  }

  .grid-sm-55 {
    grid-column: span 55;
  }

  .grid-sm-56 {
    grid-column: span 56;
  }

  .grid-sm-57 {
    grid-column: span 57;
  }

  .grid-sm-58 {
    grid-column: span 58;
  }

  .grid-sm-59 {
    grid-column: span 59;
  }

  .grid-sm-60 {
    grid-column: span 60;
  }
}

@media screen and (max-width: 500px) {
  .grid-xs-1 {
    grid-column: span 1;
  }

  .grid-xs-2 {
    grid-column: span 2;
  }

  .grid-xs-3 {
    grid-column: span 3;
  }

  .grid-xs-4 {
    grid-column: span 4;
  }

  .grid-xs-5 {
    grid-column: span 5;
  }

  .grid-xs-6 {
    grid-column: span 6;
  }

  .grid-xs-7 {
    grid-column: span 7;
  }

  .grid-xs-8 {
    grid-column: span 8;
  }

  .grid-xs-9 {
    grid-column: span 9;
  }

  .grid-xs-10 {
    grid-column: span 10;
  }

  .grid-xs-11 {
    grid-column: span 11;
  }

  .grid-xs-12 {
    grid-column: span 12;
  }

  .grid-xs-13 {
    grid-column: span 13;
  }

  .grid-xs-14 {
    grid-column: span 14;
  }

  .grid-xs-15 {
    grid-column: span 15;
  }

  .grid-xs-16 {
    grid-column: span 16;
  }

  .grid-xs-17 {
    grid-column: span 17;
  }

  .grid-xs-18 {
    grid-column: span 18;
  }

  .grid-xs-19 {
    grid-column: span 19;
  }

  .grid-xs-20 {
    grid-column: span 20;
  }

  .grid-xs-21 {
    grid-column: span 21;
  }

  .grid-xs-22 {
    grid-column: span 22;
  }

  .grid-xs-23 {
    grid-column: span 23;
  }

  .grid-xs-24 {
    grid-column: span 24;
  }

  .grid-xs-25 {
    grid-column: span 25;
  }

  .grid-xs-26 {
    grid-column: span 26;
  }

  .grid-xs-27 {
    grid-column: span 27;
  }

  .grid-xs-28 {
    grid-column: span 28;
  }

  .grid-xs-29 {
    grid-column: span 29;
  }

  .grid-xs-30 {
    grid-column: span 30;
  }

  .grid-xs-31 {
    grid-column: span 31;
  }

  .grid-xs-32 {
    grid-column: span 32;
  }

  .grid-xs-33 {
    grid-column: span 33;
  }

  .grid-xs-34 {
    grid-column: span 34;
  }

  .grid-xs-35 {
    grid-column: span 35;
  }

  .grid-xs-36 {
    grid-column: span 36;
  }

  .grid-xs-37 {
    grid-column: span 37;
  }

  .grid-xs-38 {
    grid-column: span 38;
  }

  .grid-xs-39 {
    grid-column: span 39;
  }

  .grid-xs-40 {
    grid-column: span 40;
  }

  .grid-xs-41 {
    grid-column: span 41;
  }

  .grid-xs-42 {
    grid-column: span 42;
  }

  .grid-xs-43 {
    grid-column: span 43;
  }

  .grid-xs-44 {
    grid-column: span 44;
  }

  .grid-xs-45 {
    grid-column: span 45;
  }

  .grid-xs-46 {
    grid-column: span 46;
  }

  .grid-xs-47 {
    grid-column: span 47;
  }

  .grid-xs-48 {
    grid-column: span 48;
  }

  .grid-xs-49 {
    grid-column: span 49;
  }

  .grid-xs-50 {
    grid-column: span 50;
  }

  .grid-xs-51 {
    grid-column: span 51;
  }

  .grid-xs-52 {
    grid-column: span 52;
  }

  .grid-xs-53 {
    grid-column: span 53;
  }

  .grid-xs-54 {
    grid-column: span 54;
  }

  .grid-xs-55 {
    grid-column: span 55;
  }

  .grid-xs-56 {
    grid-column: span 56;
  }

  .grid-xs-57 {
    grid-column: span 57;
  }

  .grid-xs-58 {
    grid-column: span 58;
  }

  .grid-xs-59 {
    grid-column: span 59;
  }

  .grid-xs-60 {
    grid-column: span 60;
  }
}

@media screen and (min-width: 1400px) {
  .grid-lg-1 {
    grid-column: span 1;
  }

  .grid-lg-2 {
    grid-column: span 2;
  }

  .grid-lg-3 {
    grid-column: span 3;
  }

  .grid-lg-4 {
    grid-column: span 4;
  }

  .grid-lg-5 {
    grid-column: span 5;
  }

  .grid-lg-6 {
    grid-column: span 6;
  }

  .grid-lg-7 {
    grid-column: span 7;
  }

  .grid-lg-8 {
    grid-column: span 8;
  }

  .grid-lg-9 {
    grid-column: span 9;
  }

  .grid-lg-10 {
    grid-column: span 10;
  }

  .grid-lg-11 {
    grid-column: span 11;
  }

  .grid-lg-12 {
    grid-column: span 12;
  }

  .grid-lg-13 {
    grid-column: span 13;
  }

  .grid-lg-14 {
    grid-column: span 14;
  }

  .grid-lg-15 {
    grid-column: span 15;
  }

  .grid-lg-16 {
    grid-column: span 16;
  }

  .grid-lg-17 {
    grid-column: span 17;
  }

  .grid-lg-18 {
    grid-column: span 18;
  }

  .grid-lg-19 {
    grid-column: span 19;
  }

  .grid-lg-20 {
    grid-column: span 20;
  }

  .grid-lg-21 {
    grid-column: span 21;
  }

  .grid-lg-22 {
    grid-column: span 22;
  }

  .grid-lg-23 {
    grid-column: span 23;
  }

  .grid-lg-24 {
    grid-column: span 24;
  }

  .grid-lg-25 {
    grid-column: span 25;
  }

  .grid-lg-26 {
    grid-column: span 26;
  }

  .grid-lg-27 {
    grid-column: span 27;
  }

  .grid-lg-28 {
    grid-column: span 28;
  }

  .grid-lg-29 {
    grid-column: span 29;
  }

  .grid-lg-30 {
    grid-column: span 30;
  }

  .grid-lg-31 {
    grid-column: span 31;
  }

  .grid-lg-32 {
    grid-column: span 32;
  }

  .grid-lg-33 {
    grid-column: span 33;
  }

  .grid-lg-34 {
    grid-column: span 34;
  }

  .grid-lg-35 {
    grid-column: span 35;
  }

  .grid-lg-36 {
    grid-column: span 36;
  }

  .grid-lg-37 {
    grid-column: span 37;
  }

  .grid-lg-38 {
    grid-column: span 38;
  }

  .grid-lg-39 {
    grid-column: span 39;
  }

  .grid-lg-40 {
    grid-column: span 40;
  }

  .grid-lg-41 {
    grid-column: span 41;
  }

  .grid-lg-42 {
    grid-column: span 42;
  }

  .grid-lg-43 {
    grid-column: span 43;
  }

  .grid-lg-44 {
    grid-column: span 44;
  }

  .grid-lg-45 {
    grid-column: span 45;
  }

  .grid-lg-46 {
    grid-column: span 46;
  }

  .grid-lg-47 {
    grid-column: span 47;
  }

  .grid-lg-48 {
    grid-column: span 48;
  }

  .grid-lg-49 {
    grid-column: span 49;
  }

  .grid-lg-50 {
    grid-column: span 50;
  }

  .grid-lg-51 {
    grid-column: span 51;
  }

  .grid-lg-52 {
    grid-column: span 52;
  }

  .grid-lg-53 {
    grid-column: span 53;
  }

  .grid-lg-54 {
    grid-column: span 54;
  }

  .grid-lg-55 {
    grid-column: span 55;
  }

  .grid-lg-56 {
    grid-column: span 56;
  }

  .grid-lg-57 {
    grid-column: span 57;
  }

  .grid-lg-58 {
    grid-column: span 58;
  }

  .grid-lg-59 {
    grid-column: span 59;
  }

  .grid-lg-60 {
    grid-column: span 60;
  }
}

.grid-1 {
  grid-column: span 1;
}

.grid-2 {
  grid-column: span 2;
}

.grid-3 {
  grid-column: span 3;
}

.grid-4 {
  grid-column: span 4;
}

.grid-5 {
  grid-column: span 5;
}

.grid-6 {
  grid-column: span 6;
}

.grid-7 {
  grid-column: span 7;
}

.grid-8 {
  grid-column: span 8;
}

.grid-9 {
  grid-column: span 9;
}

.grid-10 {
  grid-column: span 10;
}

.grid-11 {
  grid-column: span 11;
}

.grid-12 {
  grid-column: span 12;
}

.grid-13 {
  grid-column: span 13;
}

.grid-14 {
  grid-column: span 14;
}

.grid-15 {
  grid-column: span 15;
}

.grid-16 {
  grid-column: span 16;
}

.grid-17 {
  grid-column: span 17;
}

.grid-18 {
  grid-column: span 18;
}

.grid-19 {
  grid-column: span 19;
}

.grid-20 {
  grid-column: span 20;
}

.grid-21 {
  grid-column: span 21;
}

.grid-22 {
  grid-column: span 22;
}

.grid-23 {
  grid-column: span 23;
}

.grid-24 {
  grid-column: span 24;
}

.grid-25 {
  grid-column: span 25;
}

.grid-26 {
  grid-column: span 26;
}

.grid-27 {
  grid-column: span 27;
}

.grid-28 {
  grid-column: span 28;
}

.grid-29 {
  grid-column: span 29;
}

.grid-30 {
  grid-column: span 30;
}

.grid-31 {
  grid-column: span 31;
}

.grid-32 {
  grid-column: span 32;
}

.grid-33 {
  grid-column: span 33;
}

.grid-34 {
  grid-column: span 34;
}

.grid-35 {
  grid-column: span 35;
}

.grid-36 {
  grid-column: span 36;
}

.grid-37 {
  grid-column: span 37;
}

.grid-38 {
  grid-column: span 38;
}

.grid-39 {
  grid-column: span 39;
}

.grid-40 {
  grid-column: span 40;
}

.grid-41 {
  grid-column: span 41;
}

.grid-42 {
  grid-column: span 42;
}

.grid-43 {
  grid-column: span 43;
}

.grid-44 {
  grid-column: span 44;
}

.grid-45 {
  grid-column: span 45;
}

.grid-46 {
  grid-column: span 46;
}

.grid-47 {
  grid-column: span 47;
}

.grid-48 {
  grid-column: span 48;
}

.grid-49 {
  grid-column: span 49;
}

.grid-50 {
  grid-column: span 50;
}

.grid-51 {
  grid-column: span 51;
}

.grid-52 {
  grid-column: span 52;
}

.grid-53 {
  grid-column: span 53;
}

.grid-54 {
  grid-column: span 54;
}

.grid-55 {
  grid-column: span 55;
}

.grid-56 {
  grid-column: span 56;
}

.grid-57 {
  grid-column: span 57;
}

.grid-58 {
  grid-column: span 58;
}

.grid-59 {
  grid-column: span 59;
}

.grid-60 {
  grid-column: span 60;
}

.full-center {
  display: grid;
  place-items: center;
}

@media screen and (max-width: 500px) {
  .xs-visible {
    display: initial;
  }
  .xs-hidden {
    display: none;
  }
}

@media screen and (max-width: 800px) and (min-width: 500px) {
  .sm-visible {
    display: initial;
  }
  .sm-hidden {
    display: none;
  }
}

@media screen and (max-width: 1400px) and (min-width: 800px) {
  .md-visible {
    display: initial;
  }
  .md-hidden {
    display: none;
  }
}

@media screen and (min-width: 1400px) {
  .lg-visible {
    display: initial;
  }
  .lg-hidden {
    display: none;
  }
}
